@model info.Models.User
@{
    ViewBag.Title = "myAccount - myLegis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
}
@section css {
    @Styles.Render("~/Content/narrowjumbo")
    <style>
        .label-copy
        {
            background-color: #F7F7F7;
            color: #8F8F8F;
        }
    </style>
}
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", new { Controller = "Home" })">myLegis</a>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_navbar-primary-navigation")
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown active">
                    @Html.Partial("_navbar-myaccount-account")
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", new { Controller = "Home" })">Home</a> </li>
        <li class="active">myAccount</li>
    </ol>
    <div class="row">
        <span style="display: none;">
            @User.Identity.Name</span>
        <div class="col-md-8" style="margin-top: 5px; display: none;" data-bind="visible : (Fetching())">
            <ul class="list-group">
                <span class="list-group-item">
                    <p class="list-group-item-text">
                        &nbsp;<img src="../Content/Img/ajax-loader.gif" alt="Loading Gif" />
                        &nbsp;&nbsp;Loading!
                    </p>
                </span>
            </ul>
        </div>
        <!-- Active Watchlist -->
        <div class="col-md-8" style="margin-top: 5px; display: none;" data-bind="visible : (List().length > 0 && Loaded())">
            <h5 style="margin-left: 5px;">
                Watch List</h5>
            <ul class="list-group" data-bind="foreach: List">
                <a data-bind="attr { href: Location }" class="list-group-item">
                    <h5 class="list-group-item-heading" data-bind="text : Title">
                    </h5>
                    <span class="badge badge-primary" data-bind="text : Name"></span>
                    <p class="list-group-item-text" data-bind="visible : State == 'Passed'">
                        <span class="label label-success">Passed</span>
                    </p>
                    <p class="list-group-item-text" data-bind="visible : State == 'Withdrawn'">
                        <span class="label label-default">Withdrawn</span>
                    </p>
                    <p class="list-group-item-text" data-bind="visible : State == 'Committee'">
                        <span class="label label-copy" data-bind="text : Status + ' ( ' + moment(LastActivity).format('MMM, DD YYYY') + ' )'">
                        </span>
                    </p>
                </a>
            </ul>
        </div>
        <!-- Empty Watchlist -->
        <div class="col-md-8" style="display: none;" data-bind="visible : (List().length == 0 && Loaded())">
            <div class="alert alert-info" style="display: none;" data-bind="visible : (Loaded && Empty)">
                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Your Watchlist is empty.
            </div>
            <ul class="list-group">
                <a href="#" class="list-group-item">
                    <h5 class="list-group-item-heading">
                        Watchlist (empty).
                    </h5>
                    <p class="list-group-item-text">
                        &nbsp;
                    </p>
                </a>
            </ul>
        </div>
        <!-- User Details -->
        <div class="col-md-4" style="display: none;" data-bind="visible : (Loaded() == true)">
            <h5>
                Account</h5>
            <ul class="list-group">
                <li class="list-group-item">@Model.Name</li>
                <li class="list-group-item">@Model.Email</li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="list-group-item"><a href="@Url.Action("users", new { Controller = "Account" })">
                        User List</a> </li>
                }
            </ul>
        </div>
    </div>
    <div class="footer">
        @Html.Partial("_footer")
    </div>
</div>
<!-- /container -->
@section scripts {
    @Scripts.Render("~/bundles/acct")
    @*    <script type="text/javascript">
              $(document).ready(function () {
                  //$('#modCopyTool').modal();
              });
    </script>*@
}
