@{
    ViewBag.Title = "500 Error";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
@section head {
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
}
@section css {
    @Styles.Render("~/Content/narrowjumbo")
}
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">myLegis</a>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_navbar-primary-navigation")
            @Html.Partial("_navbar-myaccount")
        </div>
        <!--/.nav-collapse -->
    </div>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")">Home</a> </li>
        <li class="active">Resource Not Found</li>
    </ol>
    <div class="jumbotron">
        <h3>
            Error 500: Server broke!</h3>
        <p class="lead">
            The server you are requesting against choked on something.</p>
    </div>
    <div class="footer">
        @Html.Partial("_footer")
    </div>
</div>
<!-- /container -->
