@model info.Models.Legislation
@{
    ViewBag.Title = @Model.Name + @" - myLegis";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section css {
    @Styles.Render("~/Content/narrowjumbo")
    <style type="text/css">
        .container
        {
            max-width: 980px;
        }
    </style>
}
<!-- modal -->
<div class="modal fade" id="modCopyTool" tabindex="-1" role="dialog" aria-labelledby="modCopyToolLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="modCopyToolLabel">
                    Document Phrase</h4>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="modCopyTabs">
                    <li><a href="#tabCopyHome" data-toggle="tab">Home</a></li>
                    <li><a href="#tabPerson" data-toggle="tab">Person</a></li>
                    <li><a href="#tabNGO" data-toggle="tab">Non-Government Agency</a></li>
                    <li><a href="#tabNewsletter" data-toggle="tab">Constant Contact</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" style="margin-top: 15px;">
                    <div class="tab-pane in active" id="tabCopyHome">
                        <div class="form-group">
                            <label for="personText" class="col-md-3 control-label">
                                Selected</label>
                            <div class="col-md-9">
                                <span>HIGGINS</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabPerson">
                        <form class="form-horizontal" id="frmPerson" role="form" data-bind="with: Person">
                        <!-- Copy text -->
                        <div class="form-group">
                            <label for="personText" class="col-md-3 control-label">
                                Selected</label>
                            <div class="col-md-9">
                                <input type="text" id="personText" class="form-control" data-bind="value : $root.CopyText"
                                    disabled />
                            </div>
                        </div>
                        <!-- Person Form -->
                        <div class="form-group">
                            <label for="inpFirstName" class="col-md-3 control-label">
                                First Name:</label>
                            <div class="col-md-9">
                                <input id="inpFirstName" name="inpFirstName" type="text" data-bind="value : FirstName"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpLastName" class="col-md-3 control-label">
                                Last Name:</label>
                            <div class="col-md-9">
                                <input id="inpLastName" name="inpLastName" type="text" data-bind="value : LastName"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpLegisProfile" class="col-md-3 control-label">
                                Legislature URL:</label>
                            <div class="col-md-9">
                                <input id="inpLegisProfile" name="inpLegisProfile" type="text" data-bind="value : LegisProfile"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpPhoto" class="col-md-3 control-label">
                                Photo URL:</label>
                            <div class="col-md-9">
                                <input id="inpPhoto" name="inpPhoto" type="text" data-bind="value : Photo" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpWikiProfile" class="col-md-3 control-label">
                                Wikipedia URL:</label>
                            <div class="col-md-6">
                                <input id="inpWikiProfile" name="inpWikiProfile" type="text" data-bind="value : WikiProfile"
                                    class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info">
                                    Wikipedia</button>
                            </div>
                        </div>
                        </form>
                        <div class="col-md-6  col-md-offset-3">
                            <button type="button" class="btn btn-primary" data-bind="click : $root.savePerson">
                                Save Person</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabNGO">
                        NGO
                    </div>
                    <div class="tab-pane" id="tabNewsletter">
                        Newsletter
                        <p>
                            Newsletter stuff: (<a href="https://developer.constantcontact.com/libraries/libraries.html">Constant
                                Contact)</a>, (<a href="https://github.com/constantcontact/.net-sdk">GitHub</a>)
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger" id="frmError">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="modPhraseProfile" tabindex="-1" role="dialog" aria-labelledby="modPhraseProfileLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="modPhraseProfileLabel">
                    Phrase Profile</h4>
            </div>
            <div class="modal-body">
                <h4 style="padding-left: 20px; margin-bottom: 15px;">
                    Person</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close</button>
            </div>
        </div>
    </div>
</div>
<!-- container -->
<div class="container">
    <!-- context menu -->
    <div id="contextMenu" class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block;
            position: static; margin-bottom: 5px;">
            <li><a tabindex="-1" href="#" data-bind="click : selectSearch">Copy and Search</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#" data-bind="click : selectPerson">Copy to Person</a></li>
            <li><a tabindex="-1" href="#" data-bind="click : selectNGO">Copy to NGO</a></li>
            <li><a tabindex="-1" href="#" data-bind="click : selectNewsletter">Copy to Newsletter</a></li>
        </ul>
    </div>
    <!-- /.context -->
    <!-- navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">myLegis</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index")">Home</a></li>
                <li><a href="@Url.Action("Senate")">Senate Legislation</a></li>
                <li><a href="@Url.Action("House")">House Legislation</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!-- /.navbar -->
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")">Home</a> </li>
        <li><a href="@Url.Action(ViewData["Residence"].ToString())">@ViewData["Residence"]</a>
        </li>
        <li class="active"><span class="badge">@Model.Name</span></li>
    </ol>
    <!-- /.breadcrumb -->
    <!-- body -->
    <div class="row">
        <div class="col-md-12" style="margin-top: 5px;">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    Details
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                        <li class=""><a href="#legislation" data-toggle="tab">Legislation</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content" style="padding-top: 10px;">
                        <div class="tab-pane fade in active" id="activity">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            @Html.Raw(@Model.ShortTitle)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <p>@Model.Title</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 150px; text-align: right;">
                                            Current Status
                                        </td>
                                        <td>
                                            @Model.CurrentStatus
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 150px; text-align: right;">
                                            Status Date
                                        </td>
                                        <td>
                                            @Model.StatusDate
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 45px; text-align: center;">
                                            Date
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="event: { contextmenu: rightClick }">
                                    @foreach (var a in Model.Activity.Where(n => n.Date == null))
                                    {
                                        <tr>
                                            <td style="font-family: Courier;">
                                                no date
                                            </td>
                                            <td>
                                                @foreach (info.Models.BillActivity act in Model.Activity
                                                .Where(n => n.Date == null))
                                                {
                                                    if (!(String.IsNullOrEmpty(@act.Sha)))
                                                    {
                                                    <p style="float: left; padding: 5px 0 5px 0; width: 100%;">@act.Description
                                                        <a href="https://github.com/ragingsmurf/myLegisData/commit/@act.Sha" 
                                                            class="btn btn-default
                                                            pull-right" style="margin-right : 5px;" role="button">@act.Sha <span class="glyphicon glyphicon-arrow-right">
                                                            </span></a>
                                                    </p>                                        
                                                    }
                                                    else
                                                    { 
                                                    <p>@act.Description</p>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var a in Model.Activity.Where(n => n.Date != null).GroupBy(act => act.Date).Select(grp => grp.First()))
                                    {
                                        <tr>
                                            <td style="font-family: Courier;">
                                                @a.Date.Value.ToShortDateString()
                                            </td>
                                            <td>
                                                @foreach (info.Models.BillActivity act in Model.Activity
                                                .Where(n => n.Date != null)
                                                .Where(n => n.Date.Value.ToShortDateString() == a.Date.Value.ToShortDateString()))
                                                {
                                                    if (!(String.IsNullOrEmpty(@act.Sha)))
                                                    {
                                                    <p style="float: left; padding: 5px 0 5px 0; width: 100%;">@act.Description
                                                        <a href="https://github.com/ragingsmurf/myLegisData/commit/@act.Sha" 
                                                        class="btn btn-default pull-right" style="margin-right : 5px;" role="button">@act.Sha
                                                            <span class="glyphicon glyphicon-arrow-right" /></a>
                                                    </p>                                        
                                                    }
                                                    else
                                                    { 
                                                    <p>@act.Description</p>
                                                    }
                                                }
                                                <p>
                                                    @if (Model.Minutes.Where(n => n.DateTime.ToShortDateString() == a.Date.Value.ToShortDateString()).Count() != 0)
                                                    {
                                                        @Html.Partial("_bill-minutes-list", Model.Minutes.Where(n => n.DateTime.ToShortDateString() == a.Date.Value.ToShortDateString()).ToList())
                                                    }
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="legislation">
                            <pre class="billtext" style="background-color: #f7f2e6;">  
                                @Model.Copy 
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.body-->
    <!-- footer -->
    <div class="footer">
        @Html.Partial("_footer")
    </div>
    <!-- ./footer -->
</div>
<!-- /container -->
@section scripts {
    @Scripts.Render("~/bundles/bill")
    @*    <script type="text/javascript">
              $(document).ready(function () {
                  //$('#modCopyTool').modal();
              });
    </script>*@
}
