@using System.Configuration;
@model List<info.Models.SessionList>
@{
    ViewBag.Title = "Alaska House - myLegis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section css {
    @Styles.Render("~/Content/narrowjumbo")
}
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", new { Controller = "Home" })">myLegis</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Senate")">Senate Legislation</a></li>
                <li class="active"><a href="#">House Legislation</a></li>
            </ul>
            @Html.Partial("_navbar-myaccount")
        </div>
        <!--/.nav-collapse -->
    </div>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")">Home</a></li>
        <li class="active">House Legislation</li>
    </ol>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#hb" data-toggle="tab"><span class="hidden-xs">Bills</span><span
            class="visible-xs">B</span></a></li>
        <li class=""><a href="#hr" data-toggle="tab"><span class="hidden-xs">Resolutions</span><span
            class="visible-xs">R</span></a></li>
        <li class=""><a href="#hjr" data-toggle="tab"><span class="hidden-xs">Joint Resolutions</span><span
            class="visible-xs">JR</span></a></li>
        <li class=""><a href="#hcr" data-toggle="tab"><span class="hidden-xs">Concurrent Resolutions</span><span
            class="visible-xs">CR</span> </a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="hb">
            <div class="row">
                <div class="col-md-8" style="margin-top: 5px;">
                    <h5 style="margin-left: 5px;">@ConfigurationManager.AppSettings["appSessionName"] House
                        Bills</h5>
                    <ul class="list-group">
                        @Html.Partial("_session-bill-list", Model.Where(n => n.Name == @"HB").ToList())
                    </ul>
                </div>
                <div class="col-md-4" style="margin-top: 15px;">
                    @Html.Partial("_panel-definition-bill")
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="hr">
            <div class="row">
                <div class="col-md-8" style="margin-top: 5px;">
                    <h5 style="margin-left: 5px;">@ConfigurationManager.AppSettings["appSessionName"] House
                        Resolutions</h5>
                    <ul class="list-group">
                        @Html.Partial("_session-bill-list", Model.Where(n => n.Name == @"HR").ToList())
                    </ul>
                </div>
                <div class="col-md-4" style="margin-top: 15px;">
                    @Html.Partial("_panel-definition-resolution")
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="hjr">
            <div class="row">
                <div class="col-md-8" style="margin-top: 5px;">
                    <h5 style="margin-left: 5px;">@ConfigurationManager.AppSettings["appSessionName"] House
                        Joint Resolutions</h5>
                    <ul class="list-group">
                        @Html.Partial("_session-bill-list", Model.Where(n => n.Name == @"HJR").ToList())
                    </ul>
                </div>
                <div class="col-md-4" style="margin-top: 15px;">
                    @Html.Partial("_panel-definition-joint-resolution")
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="hcr">
            <div class="row">
                <div class="col-md-8" style="margin-top: 5px;">
                    <h5 style="margin-left: 5px;">@ConfigurationManager.AppSettings["appSessionName"] House
                        Concurrent Resolutions</h5>
                    <ul class="list-group">
                        @Html.Partial("_session-bill-list", Model.Where(n => n.Name == @"HCR").ToList())
                    </ul>
                </div>
                <div class="col-md-4" style="margin-top: 15px;">
                    @Html.Partial("_panel-definition-concurrent-resolution")
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        @Html.Partial("_footer")
    </div>
</div>
<!-- /container -->
