@model List<info.Models.SessionList>
@using System.Configuration;
@{
    ViewBag.Title = "myLegis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section css {
    @Styles.Render("~/Content/narrowjumbo")
}
@section head {
    <meta name="description" content="Tracking Alaska Legislation" />
}
<div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">myLegis</a>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_navbar-primary-navigation")
            @Html.Partial("_navbar-myaccount")
        </div>
        <!--/.nav-collapse -->
    </div>
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
    <div class="jumbotron">
        <h2>
            Alaska State Legislation Tracking</h2>
        <p class="lead">
            Track legislative bills and resolutions as they make their way through the
            @String.Format("{0}th", ConfigurationManager.AppSettings["appSession"]) Alaska Legislature.</p>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>
                GitHub Compare View</h4>
            <p>
                Compare the differences in a bill as it passes through the process.</p>
        </div>
        <div class="col-lg-6">
            <h4>
                Tracking System</h4>
            <p>
                Login with your Google or Yahoo OpenID account, and track specific legislation.</p>
        </div>
    </div>
    <div class="footer">
        @Html.Partial("_footer")
    </div>
</div>
<!-- /container -->
