@using info.Models;
@model List<info.Models.SessionList>
@foreach (SessionList l in Model.ToList())
{
    foreach (ItemOverview b in l.Bills.OrderBy(n => n.Name))
    {
    <a href="@Url.Action("Bill", new { id = @b.Location })" class="list-group-item">
        <h5 class="list-group-item-heading">
            @Html.Raw(b.Title)</h5>
        <span class="badge badge-primary">@b.Name</span>
        <p class="list-group-item-text">
            @if (b.State == "Passed")
            {                
                <span class="label label-success">Passed</span>
            }
            else if (b.State == "withdrawn")
            {
                <span class="label label-default">Withdrawn</span>
            }
            else if (b.State == "Committee")
            {
                <span class="label label-copy">
                @Html.Raw(b.Status) ( @b.LastActivity.Value.ToString("MMM, dd yyyy") )</span>
            }
        </p>
    </a>
    }
}