@using info.Models;
@model List<info.Models.SessionList>
@foreach (SessionList l in Model.ToList())
{
    foreach (ItemOverview b in l.Bills.OrderBy(n => n.Name))
    {
    <a href="@Url.Action("Bill", new { id = @b.Location })" class="list-group-item">
        <h5 class="list-group-item-heading">
            @Html.Raw(b.Title)</h5>
        <span class="badge badge-primary">@b.Name</span>
        <p class="list-group-item-text">
            &nbsp;
            @if (b.Status.ToString().ToLower().Contains("chapter"))
            {                
                <span class="label label-success">Passed</span>
                <span style="font-size: 11px;">@b.Status</span>
            }
            else if (b.Status.ToString().ToLower().Contains("withdrawn"))
            {
                <span class="label label-default">Withdrawn</span>
            }
            else if (b.LastActivity.HasValue)
            {
                <span style="font-size: 11px;">@Html.Raw(b.Status) activity on @b.LastActivity.Value.ToLongDateString()</span>
            }
        </p>
    </a>
    }
}